@{ 
    ViewBag.Title = "About";
}

<body id="aboutus">
    <div>
        <img src="~/Content/Images/chiefssilo.png" style="width:auto"/>
    </div>
    <div class="row" id="about_us">
        <div class="container">
            <h3 id="about">About Spectres</h3>
            <div id="history" style="padding-left:650px;padding-right:55px ;text-align:justify;">
                <p>
                    Spectres is a software technology company that specializes in app development.
                    Our core competency is software engineering and that is why we can tailor fit an app
                    perfect for your business needs.
                </p>
            </div>
        </div>
    </div>




    <div class="row" style="padding-top:200px;">
        <div class="container">
            <h3 id="microsoft">Proud Microsoft Partner</h3>
            <div id="history" style="padding-left:650px;padding-right:55px ;text-align:justify">
                <p>
                    Spectres uses Microsoft's C# programming language. Our Code First approach help us deliver projects faster
                    compared to Database approach practiced by most I.T companies.
                </p>
                <br />
                <p>
                    Most of our developed web apps are hosted on Microsoft Azure for performance reliability, data security and
                    credibility.
                </p>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top:150px">
        <div class="container">
            <h1 class="text-center">The Chiefs</h1>
        </div>
    </div>
</body>