@{
    ViewBag.Title = "About";
}

<br />
<br />
<br />

<link href="~/css/Styles.css" rel="stylesheet" />

<body id="aboutus">
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-4">
            <img src="~/Content/Images/chiefssilo.png" />
        </div>

        <div class="col-lg-1">

        </div>
        <div class="col-lg-3">
            <br />
            <br />
            <br />
            <h3>About Spectres</h3>
            <p>
                Spectres is a software technology company that specializes in app development. Our core competency is
                software engineering and that is why we can tailor
            </p>
        </div>
        <div class="col-lg-3">

        </div>
    </div>


    <div class="row">
        <div class="row">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-4" id="microsoft_partner" style="position:center;right:120px;top:20px">
                <img src="~/Content/Images/proudmicrosoftpartnerBG.png" />
            </div>
            <div class="col-lg-1">

            </div>
            <div class="col-lg-3">
                <br />
                <br />
                <br />
                <h3>Proud Micrsoft Partner</h3>
                <p>
                    Spectres uses Microsoft's C# programming language. Our Code First approach help us deliver projects faster compared to the Database First approach practiced by most I.T companies.
                </p>
                <p>
                    Most of our developed web apps are hosted on Microsoft Azure for performance reliability, data security and credibility
                </p>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:150px">
        <div class="container">
            <h1 class="text-center" style="margin-bottom:50px">The Chiefs</h1>
            <div style="margin-left:50px">
                <div class="col-md-4">
                    <div class="container" style="margin-left:250px">
                        <img src="~/Content/Images/rjsilo.png" id="rj" alt="rjsilo" onclick="rj();" />
                    </div>
                </div>
                <div class="col-md-4" style="margin-left:400px;">
                    <div class="container">
                        <img src="~/Content/Images/tjavatar.png" id="tj" alt="tjsilo" style="position:absolute;bottom:-10px;" onclick="tj();" />
                    </div>
                </div>
                <div class="col-md-4" style="margin-left:540px;">
                    <div class="container">
                        <img src="~/Content/Images/ahmedsilo.png" id="ahmed" alt="ahmedsilo" style="position:absolute;bottom:-10px;left:20px" onclick="ahmed();" />
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div>

        </div>
        <div class="row" style="margin-top:50px;margin-left:500px;position:center">
            <div style="margin-right:10px">
                <img src="~/Content/Images/tjcard.png" id="tjcard" />
                
            </div>
            <div class="container" id="story" style="height:300px;width:600px;background-color:#4280AD">
                <div id="rj_story">
                    <p>
                        Lorem ipsum
                    </p>
                </div>

                <div id="tj_story">
                    <p>
                       
                    </p>
                </div>

                <div id="ahmed_story">
                    <p>
                        
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="row" style="margin-top:200px">
        <div class="container" style="margin-bottom:30px">
            <h3 class="text-center">DevOps Team</h3>
        </div>
        <div class="col-md-3">
            <div class="container" style="margin-left:250px">
                <img src="~/Content/Images/rocky-card.png" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <img src="~/Content/Images/sophiecard.png" style="margin-left:120px" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <img src="~/Content/Images/elsoncard.png" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <img src="~/Content/Images/ralphcard.png" style="position:absolute;left:-100px" />
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var image_tracker = 'silo'

        function tj() {

            var image = document.getElementById('tj');
          
            if (image_tracker == 'avatar') {
                image.src = "/Content/Images/tjsilo.png";
                image_tracker = 'silo'
            }

            else
            {
                image.src = "/Content/Images/tjavatar.png";
                image_tracker = 'avatar'
            }
            
        }


        function rj() {
  
            var image = document.getElementById('rj');
          
            if (image_tracker == 'silo') {
                image.src = "/Content/Images/rjavatar.png";
                image_tracker = 'avatar'
            }

            else
            {
                image.src = "/Content/Images/rjsilo.png";
                image_tracker = 'silo'

            }

        }

        function ahmed() {

            var image = document.getElementById('ahmed');
            

            if (image_tracker == 'silo') {
                image.src = "/Content/Images/ahmedavatar.png";
                image_tracker = 'avatar';
            }

            else
            {
                image.src = "/Content/Images/ahmedsilo.png";
                image_tracker = 'silo'
            }

        }

    </script>


</body> 