@{
    ViewBag.Title = "Contact-Us";
}


<body style="">
    <div class="container">
        <h1 id="head">Contact Us</h1>

        <div id="details" style="padding-left:650px;">
            <h2>Therence John Resabal</h2>
            <p>+63 224-5644</p>
            <p>+63 977 814 3685</p>
            <p>tj@spectres.solutions</p>
            <br />

            <p>Level 10-1 Fort Legend Tower 31st Street & 3rd Avenue    Bonifacio Global City, Taguig 1634 Philippines</p>
        </div>


    </div>
</body>