@{
    ViewBag.Title = "Contact-Us";
}

<link href="~/css/Styles.css" rel="stylesheet" />

<body id="contact_us">
    <div class="container">
        <br />
        <h2 id="head">Contact Us</h2>
        <br />
        <br />
        <div id="details" style="padding-left:500px;">
            <p style="font-size:20px">Therence John Resabal</p>
            <p style="line-height:0px;">+63 224-5644</p>
            <p style="line-height:0px;">+63 977 814 3685</p>
            <p>tj@spectres.solutions</p>
            <br />

            <p style="line-height:3px;">Level 10-1 Fort Legend Tower 31st Street & 3rd Avenue</p>
            <p style="line-height:3px;">Bonifacio Global City, Taguig 1634 Philippines</p>

            <a href="https://www.linkedin.com/company/spectres-solutions/"><i class="fa fa-linkedin fa-3x" style="color:white;padding:20px"></i></a>
            <a href="https://www.facebook.com/SpectresSolutions/"><i class="fa fa-facebook-square fa-3x" style="color:white"></i></a>
        </div>

    </div>

   
</body>