@{
    ViewBag.Title = "Impact";
}


<link href="~/css/full-slider.css" rel="stylesheet">

<div class="row" style="margin-top:50px;" id="clients">
    <div class="container text-center" style="margin-top:20px;">
        <h2>Our Clients</h2>
        <p>We had the pleasure to scale up their business</p>
        <br />
        <div class="gallery">
            <img src="~/Content/Images/greenpeace.png" style="margin-left:200px" />
        </div>
        <div class="gallery">
            <img src="~/Content/Images/dermstrata.png" width="200" style="margin-left:250px" />
        </div>
        <div class="gallery">
            <img src="~/Content/Images/taxumo.png" style="margin-left:300px" />
        </div>
        <br />
        <br />
        <br />
        <div class="gallery">
            <img src="~/Content/Images/equilife.png" style="margin-left:200px;margin-top:10px" />
        </div>
        <div class="gallery">
            <img src="~/Content/Images/fullsuite.png" style="margin-left:250px" />
        </div>
        <div class="gallery">
            <img src="~/Content/Images/bookpoint.png" style="margin-left:300px;margin-top:20px" />
        </div>
        <br />
        <br />
        <br />
        <div class="gallery">
            <img src="~/Content/Images/itrain.png" style="margin-left:-360px;margin-top:40px" />
        </div>
        <div class="gallery">
            <img src="~/Content/Images/plato.png" style="margin-left:-250px;margin-top:50px;height:25px;width:auto" />
        </div>
        <div class="gallery">
            <img src="~/Content/Images/republikapilipinas.png" width="200" style="margin-left:-150px;margin-top:20px;height:70px;width:auto" />
        </div>
        <br />
        <br />
        <br />
        <div class="gallery">
            <img src="~/Content/Images/offshore.png" style="margin-right:-700px;margin-top:50px;height:30px;width:auto" />
        </div>
        <div class="gallery">
            <img src="~/Content/Images/ricewatch.png" width="200" style="margin-right:-750px;margin-top:20px;height:70px;width:auto" />
        </div>
    </div>

    <div class="container text-center">
        <h2>Case Stuides</h2>
    </div>
</div>



